@use "sass:color";
@use "../../../../styles/_variables.scss" as var;

.btn-secondary {
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  color: var.$color-text-orange;
  font-weight: 600;
  font-family: inherit;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    color: color.adjust(var.$color-text-orange, $lightness: -5%);
  }

  &:disabled {
    color: var.$color-gray;
  }
}
