@use "./../../../variables/variables.scss" as var;

.nav {
  display: flex;
  align-items: center;
  gap: 2rem;

  &__links {
    display: flex;
    gap: 2.4rem;
    list-style: none;
    text-transform: uppercase;
    align-items: center;

    & a:link,
    & a:visited {
      display: inline-block;
      text-decoration: none;
      color: var.$color-text-light;
      font-weight: 500;
      font-size: 1.8rem;
      transition: all 0.3s;
    }

    & a:hover,
    & a:active {
      color: var.$color-text-orange;
    }
  }

  &__btn-auth {
    color: var.$color-text-light;
    font-size: 1.8rem;
    background-color: var.$color-primary;
    padding: 1.2rem 2.4rem;
    border: none;
    border-radius: 10px;
  }
}

.nav__profile {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 20px 20px 0 0;
  padding: 0 1rem;
  transition: all 0.3s;
  z-index: 10;

  &--user {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #fff;
    font-size: 1.8rem;

    & a {
      display: flex;
      gap: 1rem;
      align-items: center;
    }

    & a:link,
    & a:visited {
      display: flex;
      align-items: center;

      padding: 1rem;
    }

    & a:hover,
    & a:active {
      color: var.$color-text-orange;
    }
  }

  & svg {
    height: 4rem;
    width: 4rem;
    color: #fff;
  }

  &--menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    height: 0rem;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    left: 0;
    transition: all 0.3s;
    box-sizing: border-box;
    text-align: center;

    & a:link,
    & a:visited {
      color: var.$color-text-primary;
      padding: 1rem;
    }

    & a:hover,
    & a:active {
      color: var.$color-text-orange;
    }
  }

  &:hover &--menu {
    height: 12rem;

    background-color: #fff;
  }

  &:hover &--user {
    color: var.$color-text-primary;

    & a:link,
    & a:visited {
      color: var.$color-text-primary;
      padding: 1rem;
    }

    & a:hover,
    & a:active {
      color: var.$color-text-orange;
    }
  }
  &:hover &--user svg {
    color: var.$color-text-primary;
  }

  &:hover {
    background-color: #fff;
    color: var.$color-text-primary;
  }
}
