.nav {
  display: flex;
  gap: 2.4rem;
  list-style: none;
  text-transform: uppercase;
  align-items: center;
}

.nav a:link,
.nav a:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.nav a:hover,
.nav a:active {
  color: #ad6c12;
}
