.recipe__head-container {
  background-image: url("./../../../assets/card-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: -4.8rem -2.8rem 0;
  padding: 7rem 5.6rem 4.8rem 5.6rem;
  position: relative;
}

@media (max-width: 600px) {
  .recipe__head-container {
    padding: 7rem 2.6rem 4.8rem 4.6rem;
  }
}
