@use "../../../../styles/_variables.scss" as var;

.link {
  @include var.linkA;
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0;
  border: 0;
  background: none;
  font: inherit;
  cursor: pointer;

  & svg {
    width: 1.6rem;
  }
}
