//COLORS
$color-background-primary: rgba(255, 255, 255, 0.75);
$color-background-light: #fff;
$color-background-dark: #263237;
$color-text-primary: #304750;
$color-text-light: #fff;
$color-text-orange: #ad6c12;
$color-grey: #bdbdbd;
$color-black: #000;
$color-primary: #ff992b;
// $color-text-dark: #28353a;
// $color-secondary: #2a3b40;
// $smthing: rgba(42, 59, 64, 0.7);

//FONTS
$font-family-primary: "Raleway", sans-serif;
$font-family-secondary: "Grand Hotel", sans-serif;
