$color-background-primary: rgba(255, 255, 255, 0.75);
$color-background-light: #fff;
$color-background-dark: #263237;
$color-text-primary: #304750;
$color-text-light: #fff;
$color-text-orange: #ad6c12;
$color-text-white: #fff;
$color-text-gray-dark: #808080;
$color-gray: #bdbdbd;
$color-red: #ca0000;
$color-black: #000;
$color-primary: #ff992b;

$font-family-primary: "Raleway", sans-serif;
$font-family-secondary: "Grand Hotel", sans-serif;

$box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.4);

@mixin linkA {
  display: inline-block;
  color: #3279e0;

  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    color: lighten(#7278f0, 7%);
  }
}
