$color-background-primary: rgba(255, 255, 255, 0.75);
$color-background-light: #fff;
$color-background-dark: #263237;
$color-background-muted: #e6e6e6;
$color-background-skeleton: #dfdfdf;
$color-text-primary: #304750;
$color-text-light: #fff;
$color-text-orange: #a8640f;
$color-on-primary: #1f292d;
$color-text-white: #fff;
$color-text-gray-dark: #808080;
$color-text-muted: #8e8e8e;
$color-info-muted: #7e7e7e;
$color-icon-muted: #758488;
$color-gray: #bdbdbd;
$color-border-input: #8e8e8e;
$color-red: #ca0000;
$color-black: #000;
$color-primary: #ff992b;
$color-link: #2b70d0;
$color-link-hover: #5359c7;
$color-success: rgba(73, 171, 107, 0.6);
$color-overlay-dark: rgba(38, 50, 55, 0.7);
$color-overlay-primary: rgba(48, 71, 80, 0.7);
$color-shimmer: rgba(153, 153, 153, 0.1);

$font-family-primary: "Raleway", sans-serif;
$font-family-secondary: "Grand Hotel", sans-serif;

$box-shadow: 0rem 0rem 1rem rgba($color-black, 0.4);

@mixin linkA {
  display: inline-block;
  color: $color-link;

  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    color: $color-link-hover;
  }
}
