@use "./_variables.scss" as var;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 52%;
  background-color: var.$color-text-primary;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 1.4rem;
  min-height: 100vh;
  color: var.$color-text-primary;
  box-sizing: border-box;
}

body:before {
  content: "";
  display: block;
  background:
    linear-gradient(
      to right bottom,
      var.$color-overlay-dark,
      var.$color-overlay-primary
    ),
    url("../assets/images/bg.webp") no-repeat top/cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -30;
}

#root {
  min-height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: "Grand Hotel";
  src: url("../assets/fonts/GrandHotel/GrandHotel-Regular.ttf")
    format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
}

@media (max-width: 1024px) {
  html {
    font-size: 48%;
  }
}

@media (max-width: 768px) {
  body:before {
    background:
      linear-gradient(
        to right bottom,
        var.$color-overlay-dark,
        var.$color-overlay-primary
      ),
      url("../assets/images/bg768.webp") no-repeat top/cover;
  }
}

@media (max-width: 425px) {
  body:before {
    background:
      linear-gradient(
        to right bottom,
        var.$color-overlay-dark,
        var.$color-overlay-primary
      ),
      url("../assets/images/bg425.webp") no-repeat top/cover;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
    transition-duration: 0.01ms !important;
  }
}
