.about {
  display: grid;
  grid-template-columns: 1fr 0fr;
  font-size: 3rem;
  color: #fff;
  gap: 2rem;
  transition: all 1s;
}

.div {
  /* grid-row: 1/4; */
  background-color: yellowgreen;
}

.anim {
  grid-template-columns: 1fr 2fr;
}
