.section-search {
  display: flex;
  gap: 2.8rem;
  flex-direction: column;
  justify-content: center;
  margin-top: calc(50vh - 39rem);
  transition: all 0.9s;

  &.mt0 {
    margin-top: 0;
  }
}

.section-content {
  display: grid;
  grid-template-columns: 1fr 0fr;
  transition: all 0.5s;
}

.recipe-columns {
  grid-template-columns: 33rem 3fr;
  gap: 2rem;
}

@media (max-width: 1024px) {
  .recipe-columns {
    grid-template-columns: 31rem 3fr;
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .recipe-columns {
    grid-template-columns: 0fr 1fr;
    gap: 0rem;
  }
}
