.section-search {
  display: flex;
  gap: 2.8rem;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin-top: 19vh;
  transition: all 0.3s;
}

.section-search.animate {
  margin-top: 1.5vh;
}

.logo {
  font-size: 10rem;
  color: #fff;
  font-family: "Grand Hotel", sans-serif;
  margin: 2rem auto;
}

.search-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 2rem; */
  margin-bottom: 4.6rem;
}

.search-head__title {
  font-size: 4.6rem;
  font-weight: 500;
  font-family: "Grand Hotel", sans-serif;
  text-transform: capitalize;
}

/* @media (max-width: 1200px) {
  .section-search {
    max-width: 98%;
  }
} */
