@use "./../../../../variables/variables.scss" as var;

.recipe__ingridients {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  font-size: 1.8rem;
  line-height: 1.4;
  gap: 0 6rem;

  & li {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    white-space: nowrap;
  }

  &-dots {
    border-bottom: 1px dotted var.$color-text-primary;
    width: 100%;
    margin-bottom: 5px;
  }
}

@media (max-width: 1280px) {
    .recipe__ingridients {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 940px) {
    .recipe__ingridients {
      grid-template-columns: 1fr;
    }
  }