@use "sass:color";
@use "../../../../styles/_variables.scss" as var;

.input {
  padding: 1.4rem;
  font-size: 1.8rem;
}

.invalid {
  background-color: color.adjust(var.$color-red, $lightness: 55%);
  border-color: var.$color-red;
}
