.search-box {
  margin-bottom: 4rem;
}

.search {
  display: flex;

  transition: all 3s;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 20px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.299);
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

.search-filled {
  /* display: grid;
  justify-content: start;
  width: 500px; */
}

.input {
  /* background-color: rgba(255, 255, 255, 0.745);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px); */
  background: transparent;

  border-radius: 20px 0 0 20px;
  border: none;
  outline: none;
  width: 100%;
  height: 7rem;
  font-size: 2.4rem;
  padding: 0 3.2rem;
  font-family: "Raleway", sans-serif;
}

.input::placeholder {
  color: #ad6c12;
}

.search__btn-filter {
  display: flex;
  align-items: center;
  color: orange;
  font-size: 2.8rem;
  font-weight: 700;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.search__btn-filter svg {
  height: 3.5rem;
  width: 3.5rem;
}

.search__btn-filter:hover {
  color: #ad6c12;
}

.search__btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-size: 2.4rem;
  background-color: #ff992b;
  border: none;
  width: 25rem;
  height: 7rem;
  padding: 1rem;
  border-radius: 0 20px 20px 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  transition: all 0.3s;
}

.search__btn-submit svg {
  height: 2.5rem;
  width: 2.5rem;
}

.search__btn-submit:hover {
  background-color: #df8423;
}

.cuisine {
  display: none;
}

.tags {
  display: flex;
  gap: 2rem;
  font-size: 1.8rem;
  padding: 0 3.2rem;
  text-transform: uppercase;
}

.tags a:link,
.tags a:visited {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px dashed #ff992b;
  padding-bottom: 0.4rem;
  transition: all 0.3s;
}

.tags a:hover,
.tags a:active {
  color: #ad6c12;
}
