.search-box {
  margin-bottom: 4rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7rem;
  margin-bottom: 2rem;
  border-radius: 20px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.299);
  background-color: rgba(255, 255, 255, 0.75);
  /* -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px); */
  position: relative;
  /* transition: all 3s; */
}

.search-filled {
  /* display: grid;
  justify-content: start;
  width: 500px; */
}

.input {
  /* background-color: rgba(255, 255, 255, 0.745);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px); */
  background: transparent;

  border-radius: 20px 0 0 20px;
  border: none;
  outline: none;
  width: 100%;
  height: 7rem;
  font-size: 2.4rem;
  padding-left: 3.2rem;
  font-family: "Raleway", sans-serif;
}

.input::placeholder {
  color: #ad6c12;
}

.search__btn-filter {
  display: flex;
  align-items: center;
  color: #d38417;
  height: 100%;
  font-size: 2.8rem;
  font-weight: 700;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.search__btn-filter svg {
  height: 3.5rem;
  width: 3.5rem;
}

.search__btn-filter:hover {
  color: #ad6c12;
}

.search__btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  color: #fff;
  background-color: #ff992b;
  border: none;
  width: 25rem;
  height: 100%;
  padding: 1rem;
  border-radius: 0 20px 20px 0;
  transition: all 0.3s;
}

.search__btn-submit svg {
  height: 2.5rem;
  width: 2.5rem;
}

.search__btn-submit--text {
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

.search__btn-submit:hover {
  background-color: #df8423;
}

.filter {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
  justify-content: space-between;
  top: 7rem;
  height: 0;
  overflow: hidden;
  width: calc(100% - 3.5rem);
  background-color: aqua;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.299);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 0 0 20px 20px;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  transition: all 0.3s;
}

.filter.active {
  height: 250px;
  padding: 3.6rem 4.8rem;
}

.filter-element {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  font-size: 1.5rem;
  border: none;
}

.filter-element h3 {
  margin-bottom: 1rem;
  font-family: "Grand Hotel", sans-serif;
  font-weight: 500;
  font-size: 3rem;
}

.calories {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.tags {
  display: flex;
  gap: 2rem;
  padding: 0 3.2rem;
  flex-wrap: wrap;
}

@media (max-width: 1440px) {
  .filter.active {
    height: 215px;
  }
}

@media (max-width: 1024px) {
  .filter.active {
    height: 200px;
  }
}

@media (max-width: 660px) {
  .filter {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  .filter-element:last-child {
    grid-column: -1 / -3;
  }

  .filter.active {
    height: 330px;
  }

  .input {
    font-size: 2.1rem;
  }
}

@media (max-width: 500px) {
  .filter {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .filter-element:last-child {
    grid-column: -1 / -3;
  }

  .filter.active {
    height: 430px;
  }

  .input {
    font-size: 2rem;
  }
}

@media (max-width: 475px) {
  .search__btn-submit--text {
    display: none;
  }

  .search__btn-submit {
    width: 10rem;
  }

  .search__btn-submit svg {
    height: 3.5rem;
    width: 3.5rem;
  }

  .search-box {
    margin-bottom: 1rem;
  }
}

@media (max-width: 415px) {
  .input {
    font-size: 1.6rem;
  }
}

@media (max-width: 415px) {
  .input {
    font-size: 1.3rem;
  }
}
