.search-head__sort {
  font-size: 1.6rem;
  font-weight: 600;
}

.search-head__sort span {
  display: inline-block;
  margin-right: 1.5rem;
}

.search-head__sort--select {
  font-size: 1.8rem;
  border: 2px solid #818181;
  padding: 0.6rem;
  border-radius: 10px;
  width: 16.4rem;
}
