@use "./../../variables/variables.scss" as var;

.notification {
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  max-width: 90rem;
  height: auto;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.2);
  padding: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  animation: slideIn 0.1s ease-out;

  & svg {
    color: var.$color-primary;
    width: 6rem;
    height: 6rem;
  }

  &__message {
    // font-size: 2rem;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1.8rem;
  }
}

@media (max-width: 440px) {
  .notification {
    flex-direction: column;

    &__btn {
      width: 100%;
    }
  }
}

@keyframes slideIn {
  0% {
    transform: translate(-50%, 50%);
  }
  100% {
    transform: translate(-50%, 0%);
  }
}
