@use "../../variables/variables.scss" as var;

.success {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid var.$color-success;
  border-radius: 10px;
  padding: 0.4rem 0.8rem;
  background-color: var.$color-background-primary;

  & svg {
    width: 2.6rem;
    color: var.$color-success;
    flex-shrink: 0;
  }
}
