@use "./../../variables/variables.scss" as var;

.tag {
  display: inline-block;
  background: transparent;
  border: 0;
  border-bottom: 1px dashed var.$color-primary;
  font-family: inherit;
  font-size: 1.8rem;
  line-height: inherit;
  color: var.$color-text-light;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 0 0 0.4rem;
  cursor: pointer;
  transition: all 0.3s;
}

.tag:hover {
  color: var.$color-text-orange;
}
