@use "./../../variables/variables.scss" as var;

.tag {
  display: inline-block;
  font-size: 1.8rem;
  color: var.$color-text-light;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px dashed var.$color-primary;
  padding-bottom: 0.4rem;
  cursor: pointer;
  transition: all 0.3s;
}

.tag:hover {
  color: var.$color-text-orange;
}
